*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(134deg, rgb(186, 136, 42), blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.app{
    width: 400px;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0 5px 10px 5px rgb(45, 45, 45);
    gap: 1rem;
}

.heading{
    font-weight: 600;
    border-bottom: 2px solid gray;
}

.ans{
    width: 80%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ans button{
    
    border-radius: 1rem;
    border: none;
    outline: none;
    height: 2rem;
    transition: 1s;
}
.ans button:hover{
    background: black;
    cursor: pointer;
    color: white;
}
.quiz{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#next{
    height: 2rem;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 1rem;
    transition: 1s;
}
#next:hover{
    background: red;
    color: white;
}